WebContent/WEB-INF/wsdl/SalesService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://com.wsa500.server" name="SalesService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://com.wsa500.server" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://com.wsa500.server" schemaLocation="SalesService_schema.xsd"/>
    </xsd:schema>
  </types>
  <message name="listCustomerSales">
    <part name="parameters" element="tns:listCustomerSales"/>
  </message>
  <message name="listCustomerSalesResponse">
    <part name="parameters" element="tns:listCustomerSalesResponse"/>
  </message>
  <message name="insertCustomer">
    <part name="parameters" element="tns:insertCustomer"/>
  </message>
  <message name="insertCustomerResponse">
    <part name="parameters" element="tns:insertCustomerResponse"/>
  </message>
  <message name="updateCustomer">
    <part name="parameters" element="tns:updateCustomer"/>
  </message>
  <message name="updateCustomerResponse">
    <part name="parameters" element="tns:updateCustomerResponse"/>
  </message>
  <message name="listProduct">
    <part name="parameters" element="tns:listProduct"/>
  </message>
  <message name="listProductResponse">
    <part name="parameters" element="tns:listProductResponse"/>
  </message>
  <message name="insertProduct">
    <part name="parameters" element="tns:insertProduct"/>
  </message>
  <message name="insertProductResponse">
    <part name="parameters" element="tns:insertProductResponse"/>
  </message>
  <portType name="SalesService">
    <operation name="listCustomerSales">
      <input wsam:Action="listCustomerSales" message="tns:listCustomerSales"/>
      <output wsam:Action="http://com.wsa500.server/SalesService/listCustomerSalesResponse" message="tns:listCustomerSalesResponse"/>
    </operation>
    <operation name="insertCustomer">
      <input wsam:Action="insertCustomer" message="tns:insertCustomer"/>
      <output wsam:Action="http://com.wsa500.server/SalesService/insertCustomerResponse" message="tns:insertCustomerResponse"/>
    </operation>
    <operation name="updateCustomer">
      <input wsam:Action="updateCustomer" message="tns:updateCustomer"/>
      <output wsam:Action="http://com.wsa500.server/SalesService/updateCustomerResponse" message="tns:updateCustomerResponse"/>
    </operation>
    <operation name="listProduct">
      <input wsam:Action="listProduct" message="tns:listProduct"/>
      <output wsam:Action="http://com.wsa500.server/SalesService/listProductResponse" message="tns:listProductResponse"/>
    </operation>
    <operation name="insertProduct">
      <input wsam:Action="insertProduct" message="tns:insertProduct"/>
      <output wsam:Action="http://com.wsa500.server/SalesService/insertProductResponse" message="tns:insertProductResponse"/>
    </operation>
  </portType>
  <binding name="SalesPortBinding" type="tns:SalesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listCustomerSales">
      <soap:operation soapAction="listCustomerSales"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertCustomer">
      <soap:operation soapAction="insertCustomer"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateCustomer">
      <soap:operation soapAction="updateCustomer"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listProduct">
      <soap:operation soapAction="listProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertProduct">
      <soap:operation soapAction="insertProduct"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SalesService">
    <port name="SalesPort" binding="tns:SalesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

